.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  background: var(--surface);
  padding-bottom: env(safe-area-inset-bottom);
}


.innerContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}